{% extends "skeletons/base.html" %}

{% block content %}

<div class="container">
<div class="row">
{% for object in glbs %}
    <div class="col-sm-3">
		  <div class="card">
			  <div class="card-body">
                  <h3 class="card-title"></h3>
				<model-viewer  src="https://dl.dropboxusercontent.com/s/{{ object.dropbox_glb_file_path }} alt="3D model of {{ object.taxon }} {{ object }} shadow-intensity="1" camera-controls="" auto-rotate="" ar="" data-js-focus-visible="" ar-status="not-presenting" mode="no-cors" >
				</model-viewer>
              <a href="/specimen/{{ object.pk }}/">?</a>
		    </div>
	    </div>
    </div>
{% endfor %}
</div>
</div>


{% endblock %}
