{% extends "skeletons/base.html" %}

{% block content %}

<div class="container">
		  <div class="card">
			  <div class="card-body">
			  <h3 class="card-title">Aoudad cranium</h3>
				<model-viewer  src="https://dl.dropboxusercontent.com/s/h8a0bvkr01ue9ne/aoudad_decimated.glb?dl=0" alt="A 3D model of an astronaut" shadow-intensity="1" camera-controls="" auto-rotate="" ar="" data-js-focus-visible="" ar-status="not-presenting" mode="no-cors">
				</model-viewer>
		  </div>
	  </div>
	</div>

{% endblock %}