{% extends "skeletons/base.html" %}

{% block content %}

<div class="container">
		  <div class="card">
			  <div class="card-body">
                  <h3 class="card-title"><i>Gazella dorcas</i> astragalus</h3>
				<model-viewer  src="https://dl.dropboxusercontent.com/s/h1ypj2dz94m1k87/NMNH_329355_Gazella_doreas_male_astragalus_right.glb?dl=0" alt="A 3D model of an astronaut" shadow-intensity="1" camera-controls="" auto-rotate="" ar="" data-js-focus-visible="" ar-status="not-presenting" mode="no-cors" >
				</model-viewer>
		  </div>
	  </div>
	</div>

{% endblock %}
