{% extends "skeletons/base.html" %}
{% block extrastyle %}
    <style>
        #viewer-card {
            border: none;
        }
        .error {
            background-color: #ffb3ad;
            padding: 10px;
        }

    </style>

{% endblock %}
{% block content %}

<div class="container">
<div class="row">
    <div class="col"><h3>What kind of bones are you looking for?</h3></div>
</div>
<div class="row" id="row-contains-everything">
    <div class="col-md-8" id="col-contains-searchbar">

        {{ form.media }}
        {{ form.search_by_name }}

    </div>
        <div class="col-sm-4" id="viewer-col">
        <div class="card" id="viewer-card">

            <div class="card-body" id="viewer-card-body">
                <h4 class="card-title"><i><span id="taxon">Gazella dorcas</span></i></h4>
                <p><span id="repo">USNM</span> <span id="specID">325878</span> | <span id="element">Cranium</span></p>
                <model-viewer  src= 'https://dl.dropboxusercontent.com/s/g4n3awekzxtam3c/USNM_325878_Gazella_dorcas_male_cranium_.glb?dl=0' alt='3D model of bone' shadow-intensity='1' camera-controls='' ar='' data-js-focus-visible='' ar-status='not-presenting' mode='no-cors'></model-viewer>
                <span id="insert-modelviewer-here"></span>
            </div>

        </div>
    </div>
</div> <!-- closes row-contains-everything -->
{% if paginator %} {% include "skeletons/pagination.html" %}{% endif %}
</div> <!-- closes container -->





{% endblock %}

{% block custom_script %}
<script>

function setMaterialParams() {
    const modelViewer = document.querySelector("model-viewer");
    modelViewer.addEventListener("load", (ev) => {
        const [material] = modelViewer.model.materials;
        material.pbrMetallicRoughness.setBaseColorFactor("#AA9868");
        material.pbrMetallicRoughness.setRoughnessFactor('0.5');
    });
}

function scrollIntoViewIfNeeded(target) {
    if (target.getBoundingClientRect().bottom > window.innerHeight) {
        target.scrollIntoView(false);
    }

    if (target.getBoundingClientRect().top < 0) {
        target.scrollIntoView();
    }
}
    $("#id_search_by_name_text").css("width", "100%").attr("placeholder", "Search by taxon, element, specimen ID");

    $("#id_search_by_name_on_deck").bind('added', function() {
        var id = $("#id_search_by_name").val();
        $(".error").remove();
        $("model-viewer").remove();

        $.ajax({
            //use AJAX to call the getGLBurl view to covert pk into a GLB URL
            method: "GET",
            url: "/getGLB_url_for_pk/".concat(id),
        })
        .done(function( data ) {
            console.log(data);
            if ("error" in data) {
                $("#insert-modelviewer-here").before("<p class='error'>" + data["error"] + "</p>");
                scrollIntoViewIfNeeded($("model-viewer")[0]);
            } else {
                var URL =  "https://dl.dropboxusercontent.com/s/".concat(data["url"]);
                $("#insert-modelviewer-here").before("<model-viewer  src='" + URL + "' alt='3D model of bone' shadow-intensity='1' camera-controls='' ar='' data-js-focus-visible='' ar-status='not-presenting' mode='no-cors'></model-viewer>");
                $("#taxon").html(data["taxon"]);
                $("#element").html(data["element"]);
                $("#repo").html(data["repo"]);
                $("#specID").html(data["specID"]);
                setMaterialParams();
                scrollIntoViewIfNeeded($("model-viewer")[0]);
            }

        });
    });

    $("#id_search_by_name_on_deck").bind('killed', function() {
      $("model-viewer").remove();
      $(".error").remove();
      $
    });

    window.onload = (event) => {
        // set the material parameters on first load
        setMaterialParams();
    };


</script>
{% endblock %}
