{% extends "skeletons/base.html" %}

{% block content %}

<div class="container">
    <div class="row">
            <div class="col-lg-9">
                {% if not object_list %}There are no skeletons in this closet.{% endif %}
                {% for skeleton in object_list %}
		            <div class="card">
			            <div class="card-body">
                        <h3 class="card-title">{{ skeleton }} - {% if skeleton.taxon.taxonRank in 'species,subspecies' %}<i>{% endif %}{{ skeleton.taxon }}{% if skeleton.taxon.taxonRank in 'species,subspecies' %}</i>{% endif %}</h3>
                        {% for specimen in skeleton.specimen_set.iterator %}
                            <a href={% url 'specimen-detail' specimen.id %}>{{ specimen }}</a>
                        {% endfor %}
		                </div>
                    </div>
                {%  endfor %}
            </div>
            <div class="col-lg-3">
            <div class="card" id="taxonomic-filters">
            <div class="card-body">
            <h3 class="card-title">Filter</h3>
            <h4>Order</h4>
            <ul>
                {% for ord in orders %}
                  <li><a href="/?order={{ ord.taxon__order }}">{{ ord.taxon__order }}</a></li>
              {% endfor %}
            </ul>
            <h4>Family</h4>
            <ul>
                {% for fam in family %}
                  <li><a href="/?family={{ fam.taxon__family }}">{{ fam.taxon__family }}</a></li>
              {% endfor %}
            </ul>
            <h4>Tribe</h4>
            <ul>
                {% for trib in tribe %}
                  <li><a href="/?tribe={{ trib.taxon__tribe }}">{{ trib.taxon__tribe }}</a></li>
              {% endfor %}
            </ul>
            <h4>Genus</h4>
            <ul>
                {% for gen in genus %}
                  <li><a href="/?genus={{ gen.taxon__genus }}"><i>{{ gen.taxon__genus }}</i></a></li>
              {% endfor %}
            </ul>

            </div>
          </div>
            </div>



    </div>
</div>


{% endblock %}
